version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: dicumeproductsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - monitoring


  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8082:80"
    depends_on:
      - postgres
    networks:
      - monitoring


  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"  # Para acessar a interface de gerenciamento RabbitMQ (http://localhost:15672)
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - monitoring


  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    restart: always
    ports:
      - "9000:9000"  # Acesso ao SonarQube pelo navegador (http://localhost:9000)
    environment:
      SONARQUBE_JDBC_URL: jdbc:postgresql://postgres:5432/sonar  # URL do banco de dados PostgreSQL
      SONARQUBE_JDBC_USERNAME: postgres
      SONARQUBE_JDBC_PASSWORD: postgres
    depends_on:
      - postgres
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - monitoring


  # Serviço do Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"  # Porta exposta do Prometheus
    volumes:
      - ./infra/observability/provisioning/datasources/prometheus.yml:/etc/prometheus/prometheus.yml  # Arquivo de configuração do Prometheus
      - prometheus_data:/prometheus
    restart: always
    networks:
      - monitoring



  # Serviço do Grafana
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"  # Porta exposta do Grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin  # Senha padrão do Grafana
    volumes:
      - ./infra/observability/provisioning/dashboards:/etc/grafana/provisioning/dashboards  # Para templates de dashboards
      - ./infra/observability/provisioning/datasources:/etc/grafana/provisioning/datasources  # Para datasources
    restart: always
    depends_on:
      - prometheus  # Grafana só vai iniciar após o Prometheus
    networks:
      - monitoring



  
networks:
  monitoring:
    driver: bridge

volumes:
  postgres_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  prometheus_data:
